<mat-form-field>
  <mat-select placeholder="filter studio" [(value)]="Studio">
    <mat-option *ngFor="let s of studios" [value]="s">
      {{s}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="example-button-row">
<button (click)="filter()" mat-raised-button color="primary">filter</button>
</div>
   
   
   
   
   <table mat-table [dataSource]="movies" class="mat-elevation-z8">

  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
  
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
      
        
        <ng-container matColumnDef="studio">
          <th mat-header-cell *matHeaderCellDef> Studio </th>
          <td mat-cell *matCellDef="let element"> {{element.studio}} </td>
        </ng-container>
    
    
      <ng-container matColumnDef="weekendIncome">
        <th mat-header-cell *matHeaderCellDef> Weekend Income </th>
        <td mat-cell *matCellDef="let element"> {{element.weekendIncome}} </td>
      </ng-container>
    
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> delete Item </th>
        <td mat-cell *matCellDef="let element"> <button (click)="toDelete(element)">Delete Item </button></td>
      </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div style = "text-align: center; padding-top: 40px">The movie you deleted is: {{ name }}</div>
     